<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :物件名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :賃料 %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :築年数 %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :note %>
  </div>

  <tr><td><hr width="1000" align="left"></td></tr>
  
  <% n = 0 %>
  <%= form.fields_for :stations do |station| %>
    <h3>最寄り駅<%= n += 1 %></h3>

    <div class="route">
      <%= station.label :route, "路線名" %>
      <%= station.text_field :route %>
    </div>
    <div class="station">
      <%= station.label :station, "駅名" %>
      <%= station.text_field :station %>
    </div>
    <div class="time">
      <%= station.label :time, "徒歩分数" %>
      <%= station.text_field :time %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit"登録する" %>
  </div>
<% end %>
